aioboto3==15.0.0
aiohttp==3.11.12
boto3==1.35.36
discord.py==2.4.0
fuzzywuzzy==0.18.0
openai==1.96.1
pytest==8.4.1
python-dotenv==1.1.1
pytz==2025.2
pytz==2022.1
rapidfuzz==3.13.0
Requests==2.32.4
sentence_transformers==5.0.0
wikipedia==1.4.0
